{% extends "layout.html" %}

{% block content %}


    <h1 class="mt-2">TOMOGRAF</h1>

    {% if form %}
        <p>Prześlij swój obraz korzystając poniższego formularza:</p>
        <div class="container form">
            <form method="post" class="row g-3" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="col-md-6 mx-auto">
                    {{ form.photo.label(class_='form-label') }}
                    {{ form.photo(class_='form-control') }}
                </div>
                <div class="col-12">
                    {{ form.submit(class_='btn btn-success') }}
                </div>
            </form>
        </div>
    {% endif %}

    {% if filename %}
        <p><b>Wynik użycia tomografu:</b></p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Obraz wejściowy:</p>
                    <img src="{{ url_for('static', filename='temporary_images/' + filename) }}" alt="users photo">
                </div>
                <div class="col-md-4">
                    <p>Wizualizacja sinogramu:</p>
                    <img src="{{ url_for('static', filename='temporary_images/internal/sinogram.jpg') }}" alt="">
                </div>
                <div class="col-md-4">
                    <p>Obraz wyjściowy:</p>
                    <img src="{{ url_for('static', filename='temporary_images/internal/output.jpg') }}" alt="">
                </div>
            </div>
        </div>

        <p class="mt-5">Aby przesłać kolejny obraz, kliknij poniższy przycisk:</p>
        <a href="{{ url_for('home') }}" class="btn btn-success">Powrót</a>

    {% endif %}


{% endblock %}