{% extends "layout.html" %}

{% block content %}


    <h1 class="mt-2">TOMOGRAF</h1>

    <p>Prześlij swój obraz korzystając poniższego formularza:</p>
    <div class="container form">
        <form method="post" class="row g-3" enctype="multipart/form-data" id="photoForm">
            {{ form.hidden_tag() }}
            <div class="row my-3">
                <div class="col-lg-4">
                    {{ form.interval.label(class_='form-label') }}
                    {{ form.interval(class_='form-control', value=5) }}
                </div>
                <div class="col-lg-4">
                    {{ form.detectors_number.label(class_='form-label') }}
                    {{ form.detectors_number(class_='form-control', value=150) }}
                </div>
                <div class="col-lg-4">
                    {{ form.extent.label(class_='form-label') }}
                    {{ form.extent(class_='form-control', value=170) }}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    {{ form.photo.label(class_='form-label') }}
                    {{ form.photo(class_='form-control') }}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    {{ form.gradual.label(class_='form-label') }} <br>
                    {{ form.gradual() }}
                </div>
                <div class="col-md-4">
                    {{ form.filtered.label(class_='form-label') }} <br>
                    {{ form.filtered() }}
                </div>
                <div class="col-md-4">
                    {{ form.dicom.label(class_='form-label') }} <br>
                    {{ form.dicom() }}
                </div>
            </div>


            <div class="col d-none" id="patient-data">
                <hr>
                <p>Podaj dane dotyczące pacjenta i badania:</p>
                <div class="row my-2">
                    <div class="col-md-4">
                        {{ form.name.label(class_='form-label') }}
                        {{ form.name(class_='form-control', value='') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.id.label(class_='form-label') }}
                        {{ form.id(class_='form-control', value='') }}
                    </div>
                    <div class="col-md-4">
                        {{ form.sex.label(class_='form-label') }}
                        {{ form.sex(class_='form-control', value='') }}
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-3">
                        {{ form.birth_date.label(class_='form-label') }}
                        {{ form.birth_date(class_='form-control', value=today) }}
                    </div>
                    <div class="col-md-9">
                        {{ form.comment.label(class_='form-label') }}
                        {{ form.comment(class_='form-control', value='') }}
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 mx-auto" id="submit-btn">
                    {{ form.submit(class_='btn btn-success') }}
                </div>
            </div>
        </form>
        <div class="col-12 d-none mt-3" id="spinner">
            <div class="spinner-border text-warning" role="status"></div>
            <p>Twoje żądanie jest przetwarzane. Nie zamykaj okna przeglądarki.</p>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script>
        document.getElementById("photoForm").addEventListener("submit", (event) => {
            document.getElementById("spinner").classList.remove("d-none");
            document.getElementById("submit-btn").classList.add("d-none");
        });

        let dicom = document.querySelector("input[name='dicom']");
        let patient = document.getElementById('patient-data');
        dicom.addEventListener("change", function () {
            if(this.checked) {
                patient.classList.remove("d-none");
            } else {
                patient.classList.add("d-none");
            }
        })

    </script>
{% endblock %}